@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.header-button-names{
  background-color: #3498db;;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: white;
}

.header-button-year{
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.header-button-medals{
  color: white;
  background-color: #3498db;;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.header-button-medals:hover, .header-button-year:hover,.header-button-names:hover  {
  background-color: #0056b3;
  transition: 0.7s;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #93aeb1;
  font-weight: 600;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #f2f2f2;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
